@media screen and (min-width: 1020px) {

  a:hover {
    color:red; text-decoration:none
  }
  #date{
    font-size: 2em;
    top: 25%;
  }

  .drink{
    display: block;
    width: 15%;
    position: absolute;
    top: 65%;
    right: 5%;
  }

  #birthdayMs{
    top: 8%;
    height: 15%;
  }

  .flag{
    width: 30%;
  }
  #date{
    font-size: 3em;
  }

  #cake{
    height: 50%;
  }

  #music{
    right: 18%;
    top: 42%;
    right: 25%;
    width: 30vw;
  }

  #art{

  }

  #dowload{
  font-size: 1vw;
  }

  #dowload a{
  font-size: 1.3vw;
  }

  #title{
  font-size: 1em;
  }

  .fas{
    font-size: 3vw;
  }

  .fas:hover{
    color: red;
  }

  .fa-play{
    display: none;
  }

  #balloon{
    height: 40%;
  }

  .note{
    width: 3vw;
    min-width: 90px;
    right: 15%;
    cursor: pointer;
  }

  .note:hover{
    animation: shake .1s  infinite;
  }

  #socialBtn{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  .text_1{
    top: 35%;
    left: 25%;
  }

  .text_2{
    top: 32%;
    right: 23%;
  }

  .text_3{
    top: 80%;
    right: 23%;
    display: block;
  }

  .text_3::before{
    content: "";
    position: absolute;
    bottom: 140%;
    left: 80%;
    right: 0;
    transform: rotate(30deg);
    width: 40px;
    height: 10px;
    background: black;
    background: white;
  }

  .text_3::after {
    content: "";
    position: absolute;
    top: 140%;
    left: 80%;
    right: 0%;
    transform: rotate(-30deg);
    width: 40px;
    height: 10px;
    background: black;
    background: white;
  }

  footer{
    font-size: 1em;
  }

}