@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans");
@import url("https://use.fontawesome.com/releases/v5.0.12/css/all.css");

@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes horizontal {
    0% { transform:translateY(  -50px); }
    100% { transform:translateY(  0px); }
}

@keyframes scale {
    0% { transform: scale(1.0); }
    100% { transform: scale(2.0); }
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes flash {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

@keyframes shake {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

a:link { color:black; text-decoration:none }
a:visited { color:black; text-decoration:none }
a:active { color:black; text-decoration:none }

.spin{
  animation: spin 1.5s linear infinite;
}

body{
  background: linear-gradient(#FFAD90, #FFF8DC );
  background: linear-gradient(45deg, #41BBD9, #FFAD90, #FFCAD4);
  background-size: 600% 600%;
  animation: AnimationName 5s ease infinite;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

#cover{
  height: 100%;
  width: 100%;
  background:black;
  position: absolute;
  z-index: 999;
  transition: all 5s;
}

#wrapper{
  height: 100vh;
  position: relative;
}

#date{
  position: absolute;
  font-size: 7vw;
  top: 18%;
  right: 50%;
  transform: translate(50% ,0%);
  font-family: 'Black Han Sans', sans-serif;
}

/*  */
#music{
  max-width: 300px;
  position: absolute;
  width: 40%;
  background: white;
  right: 17%;
  top: 45%;
  z-index: 1;
  text-align: center;
  display: inline-block;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  display: none;
  opacity: 0.9;
  box-shadow: 10px 10px 30px black;
}

#art{
  width: 50%;
  margin-top: 5%;
}

#title{
  font-size: 3vw;
  margin-top: 1vw;
  width: 100%;
  font-family: 'Black Han Sans', sans-serif;
}

/* #itMic{
  width: 50%;
} */

.fas{
  font-size: 3.5em;
  margin: 10%;
  transition: all .5s;
  cursor: pointer;
}


#dowload{
  font-size: 3vw;
  padding: .3em;
  border: solid 1px;
  margin: .5em 2em 2em 2em;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  font-family: sans-serif;
  cursor: pointer;
}

#dowload a{
  font-family: sans-serif;
  font-size: 3vw;
}

#dowload:active{
  background: black;
  color: white;
}

/*  */

#birthdayMs{
  position: absolute;
  top: 5%;
  transform: translate(50%, 0%);
  right: 50%;
}

.flag{
  width: 50%;
}


#cake{
  width: 80vw;
  position: absolute;
  bottom: 3%;
  right: 50%;
  transform: translate(50% ,0%);
}

#balloon{
  width: 20%;
  position: absolute;
  top: 30%;
  left: 6%;
  z-index: 0;
  cursor: pointer;
  animation: horizontal 1s ease-in-out infinite alternate;
}

.drink{
  display: none;
}

.note{
  position: absolute;
  width: 15%;
  top: 31.5%;
  right: 16%;
}


.note:active{
  animation: scale 1s;
}

.text{
  position: absolute;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 2em;
  color: white;
  text-align: center;
  animation: flash 1s infinite;
}

.text_1::before{
  content: "";
  position: absolute;
  bottom: 140%;
  left: 0;
  right: 0;
  transform: rotate(-30deg);
  width: 40px;
  height: 10px;
  background: black;
  background: white;
}

.text_1::after {
  content: "";
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  transform: rotate(30deg);
  width: 40px;
  height: 10px;
  background: black;
  background: white;
}

.text_2::before{
  content: "";
  position: absolute;
  bottom: 140%;
  left: 50%;
  right: 0;
  transform: rotate(30deg);
  width: 40px;
  height: 10px;
  background: black;
  background: white;
}

.text_2::after {
  content: "";
  position: absolute;
  top: 140%;
  left: 50%;
  right: 0%;
  transform: rotate(-30deg);
  width: 40px;
  height: 10px;
  background: black;
  background: white;
}

.text_1{
  top: 35%;
  left: 30%;
  animation: flash 2s infinite;
}

.text_2{
  top: 33%;
  left: 28%;
  animation: flash 1s infinite;
}

.text_3{
  top: 80%;
  right: 50%;
  display: none;
}

#socialBtn{
  text-align: right;
  padding: 0;
  position: absolute;
  bottom: 5%;
  right: 15%;
  transform: scale(2);
}

iframe{
  vertical-align: baseline;
  height: 90px;
  width: 80%;
}

footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  font-size: 4vw;
  text-align: center;
  font-family: sans-serif;
}

.clear{
  clear: both;
}

.right{
  float: right;
}

.left{
  float: left;
  transform: scale(-1, 1);
}
@media screen and (max-width: 480px) {
  .text text_3{
    display: none;
  }
}

.background-music {
  position: fixed;
  z-index: 999;
  bottom: 10px;
  right: 10px
}

.background-music-bottom-left {
  right: auto;
  left: 10px
}

.background-music-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 14px;
  line-height: 38px;
  text-align: center
}

.background-music-bottom-left .background-music-toggle {
  right: auto;
  left: 0
}

.background-music-embed {
  position: absolute;
  right: 0;
  bottom: -999em;
  width: 300px;
  opacity: 0;
  visibility: hidden
}

.background-music-toggle.active~.background-music-embed {
  bottom: 40px;
  opacity: 1;
  visibility: visible
}

.background-music-bottom-left .background-music-embed {
  right: auto;
  left: 0
}

.fa-music:before {
  content: "\f001"
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #b4d2c8;
  border-color: #b4d2c8;
  color: #ffffff;
}

.typography-menu, .button, button, input[type="button"], input[type="reset"], input[type="submit"], .header-section, .nav-links, #cancel-comment-reply-link {
  font-family: Georgia,Times,"Times New Roman",serif;
}

.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  padding: .7em 1.5em;
  border: 1px solid;
  border-radius: 0;
  transition: all .25s ease-in-out;
  font-size: 12px;
  font-style: italic;
  line-height: inherit;
  letter-spacing: .1em;
  text-transform: uppercase;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button, select {
  text-transform: none;
}

button {
    overflow: visible;
}